body{
    background-color:#f4f4f9;
    font-family:'Times New Roman', Times, serif;
}

.navbar{
    background-color:#f4f4f9;
}
#mainNavbar .navbar-brand{
    color:#004e64;
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .navbar-brand:hover{
    color:#bad7f2;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:#1b3b6f;
    
}
#mainNavbar .nav-link.active:hover{
    color:#ffffff;
    background-color: #9eb3c2;
    background: #9eb3c2;
}

#mainNavbar .navbar-toggler{
    color:#1b3b6f;
    background-color: #1b3b6f;
}

.name{
    font-family:cursive;
    text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 10px #fff,
                0 0 20px #004e64,
                0 0 30px #004e64,
                0 0 40px #004e64,
                0 0 50px #004e64,
                0 0 75px #004e64;

}
li{
    text-align: center;
}
img{
    width: 150px;
    transition-property: sliding-vertically;
}
#header {
    background-color: #bad7f2;
}
#one{
    background-color: #004e64;
}

h1{
    color:ghostwhite
}
#Profile{
    color:#3c096c;
}
#contact{
    transition-duration:6s ;
    background-color: #bad7f2;
    border-radius: 50%;
    border-style: double;
}

#about
{
    transition-duration:5s ;
}
#edu{
    transition-duration:3s ;
}
#skills{
    transition-duration:4s ;
}
#experience{
    transition-duration:5s ;
}